<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.haverford.cs.phennd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--   <permission
    	android:name="edu.haverford.cs.phennd.permission.MAPS_RECEIVE"
    	android:protectionLevel="signature"/>
	<uses-permission android:name="edu.haverford.cs.phennd.permission.MAPS_RECEIVE"/> -->


	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="org.phennd.updates.MainActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.phennd.updates.AboutUsView"
            android:label="@string/title_activity_about_us"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="MainActivity">
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.AboutUsView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.phennd.updates.ArticleView"
            android:label="@string/title_activity_article_view"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="MainActivity">
              <intent-filter>
                <action android:name="edu.haverford.cs.phennd.ArticleView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="org.phennd.updates.ArticleListView"
            android:label="@string/title_activity_article_list_view" 
            android:parentActivityName="MainActivity">
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.ArticleListView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.phennd.updates.SettingsView"
            android:label="@string/title_activity_settings_view"
           android:uiOptions="splitActionBarWhenNarrow"
           android:parentActivityName="MainActivity"> 
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.SettingsView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.phennd.updates.SplashActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="API_KEY"
            android:value="AIzaSyDg3ATyfj8hXIMEGbnkW7i-3v0yA3vWKgo"
        />
        
        </application>

</manifest>