<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.haverford.cs.phennd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.haverford.cs.phennd.MainActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.haverford.cs.phennd.TagView"
            android:label="@string/title_activity_tag_view"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.TagView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.haverford.cs.phennd.FavoritesView"
            android:label="@string/title_activity_favorites_view"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.FavoritesView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.haverford.cs.phennd.AboutUsView"
            android:label="@string/title_activity_about_us"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.AboutUsView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.haverford.cs.phennd.ArticleView"
            android:label="@string/title_activity_article_view"
            android:uiOptions="splitActionBarWhenNarrow">
              <intent-filter>
                <action android:name="edu.haverford.cs.phennd.ArticleView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="edu.haverford.cs.phennd.ArticleListView"
            android:label="@string/title_activity_article_list_view" >
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.ArticleListView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.haverford.cs.phennd.SettingsView"
            android:label="@string/title_activity_settings_view"
           android:uiOptions="splitActionBarWhenNarrow"> 
            <intent-filter>
                <action android:name="edu.haverford.cs.phennd.SettingsView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="edu.haverford.cs.phennd.SplashActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        </application>

</manifest>